{% extends '_Base.html' %}

{% block title %}
    book list
{% endblock title %}

{% block content %}
    {% for books in books %}
        <a href="{{ books.get_absolute_url }}"><h1>{{ books.title }}</h1></a>
        <p>{{ books.description }}</p>
        <p>{{ books.author }}</p>
        <p>{{ books.price }}<p>
        <hr>
    {% endfor %}
    <a href="{% url 'home' %}">
        <button class="btn btn-success mt-3" Type="submit">Home page</button>
    </a>
    <a href="{% url 'book_create' %}">
        <button class="btn btn-success mt-3" Type="submit">add new book</button>
    </a>
{% endblock content %}